[project]
	description = csd training of 20140303
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/傻子沙 (Ryannnn)
[access "refs/for/refs/*"]
	read = group user/傻子沙 (Ryannnn)
	push = group user/傻子沙 (Ryannnn)
	label-Code-Review = -2..+2 group user/傻子沙 (Ryannnn)
	label-Verified = -1..+1 group user/傻子沙 (Ryannnn)
	rebase = group user/傻子沙 (Ryannnn)
	removeReviewer = group user/傻子沙 (Ryannnn)
	submit = group user/傻子沙 (Ryannnn)
[access "refs/heads/*"]
	read = group user/傻子沙 (Ryannnn)
	create = group user/傻子沙 (Ryannnn)
	push = +force group user/傻子沙 (Ryannnn)
	pushMerge = group user/傻子沙 (Ryannnn)
[access "refs/tags/*"]
	push = +force group user/傻子沙 (Ryannnn)
	pushTag = group user/傻子沙 (Ryannnn)
	pushSignedTag = group user/傻子沙 (Ryannnn)
