<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>EarthMail</display-name>
    
  <servlet>
    <servlet-name>emailSenderServlet</servlet-name>
    <servlet-class>earth.mail.EmailSenderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>emailSenderServlet</servlet-name>
    <url-pattern>/emailSender</url-pattern>
  </servlet-mapping>
  
</web-app>
