<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd "
	version="2.5">
	<display-name>EarthMail</display-name>
	<servlet>
		<servlet-name>emailSenderServlet</servlet-name>
		<servlet-class>earth.mail.EmailSenderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emailSenderServlet</servlet-name>
		<url-pattern>/emailSender</url-pattern>
	</servlet-mapping>
</web-app>
